@font-face {
    font-family: 'CMU Concrete';
    font-style: normal;
    font-weight: 500;
    src: local('CMU Concrete'), url('cmunorm.ttf') format('truetype');
}
@font-face {
    font-family: 'CMU Concrete';
    font-style: italic;
    font-weight: 500;
    src: local('CMU Concrete'), url('cmunoti.ttf') format('truetype');
}
@font-face {
    font-family: 'CMU Concrete';
    font-style: normal;
    font-weight: 700;
    src: local('CMU Concrete'), url('cmunobx.ttf') format('truetype');
}
@font-face {
    font-family: 'CMU Concrete';
    font-style: italic;
    font-weight: 700;
    src: local('CMU Concrete'), url('cmunobi.ttf') format('truetype');
}
