@font-face{font-family:space mono;font-style:normal;font-weight:400;src:url(SpaceMono-Regular.ttf) format('truetype')}
@font-face{font-family:space mono;font-style:italic;font-weight:400;src:url(SpaceMono-Italic.ttf) format('truetype')}
@font-face{font-family:space mono;font-style:normal;font-weight:700;src:url(SpaceMono-Bold.ttf) format('truetype')}
@font-face{font-family:space mono;font-style:italic;font-weight:700;src:url(SpaceMono-BoldItalic.ttf) format('truetype')}
